body{background-color: #ff753f;
  opacity: 0.95;
}
.navv {
  height:100%;
  width: 4%;
  position: fixed;
  left: 0;
  background-color: #5c3d63;
  margin-top: -16px;
}
.poz {
  margin-left: 20px;
}
.icons {
    width: 100%;
    margin-bottom: 100%;
}
