body{background-color: #ff753f;
  opacity: 0.95;
}
.navv {
  backgroud-color: #5c3d63;
  height: 200px;
  width:10%;
  align:left;
}
.poz {
  align:left;
  width:20%;
}
.mainIn:after {
	content: "";
  display: table;
  clear: both;
}
